* {
    margin: 0;
    padding: 0;
}
/* html {
    overflow: auto;
} */

body {
    font-family: "Hiragino Kaku Gothic ProN";
    height: 100%;
    /* overflow: hidden; */
}

textarea {
    font-family: inherit;
    resize: vertical;
    font-size: 13px;
    line-height: 15px;
}

a {
    text-decoration: none;
}

/* **************************************** */

header {
    height: 9vh;
    min-height: 50px;
    width: 100%;
    background: linear-gradient(to right, #33A656EE, #ffffffEE);
    position: fixed;
    top: 0;
}

.headerlogo {
    text-align: center;
    height: 9vh;
    min-height: 50px;
    position: relative;
}
.header-logo {
    height: 9vh;
    min-height: 50px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
}


.links {
    background-color: #404040;
    color: #FFFFFF;
    text-align: center;
    height: 5vh;
}

.links ul li {
    height: 5vh;
    font-size: 2.5vh;
    user-select: none;
    display: inline-block;
    margin: 0vh 20px;
    padding: 1vh 10px;
    transition-duration: 0s;
    top: 0;
}
.links ul li a {
    text-decoration: none;
}

.links ul li:hover{
    height: 5vh;
    background-color: #aee0b8;
}
.additional-links {
    display: none;
}
.links ul li:hover .additional-links{
    display: block;
    position: absolute;
    background-color: #404040;
    transform: translateX(-10px);
}
.links ul li:hover .additional-links ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 5vh;
}
.links ul li:hover .additional-links ul li {
    display: block;
    height: 6vh;
    width: 10vh;
    max-width: 60px;
    padding-top: 2vh;
    border-bottom: 1px solid #ffffff55;
}
.links ul li:hover .additional-links ul li:last-child {
    border: none;
    margin-bottom: 5px;
}
.links ul li:hover .additional-links ul li:first-child {
    margin-top: 5px;
}

.remove-links {
    background-color: #FFFFFF00;
    color: #FFFFFF00;
    transition-duration:0.5s;
    pointer-events: none;
}
.smaller {
    height: 9vh;
}


/* **************************************** */

footer {
    width: 100%;
    height: 40vh;
    background-color: #dfdfdfee;
    position: fixed;
    display: inline-block;
    left: 0;
    bottom: 0;
}


/* **************************************** */

.main {
    padding: 15vh 0 6vh 0;

}
.main-content {
    background-color: #ffffff;
    display: flex;
    width: 100%;
}

/* **************************************** */

/* .textButtons {
    display: flex;
} */
.processButton {
    margin-left: auto;
}
.processDeleteButton {
    margin-right: auto;
}

/* **************************************** */

.inputTitle, .outputTitle {
    padding: 10px 0;
}

.processTitle {
    padding: 10px 0;
}
.processElement {
    display: flex;
}
.processRadio {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* **************************************** */

/* inputの方にも大きさを揃えるためにダミーを置いています */
#copiedLabelDummy, #copiedLabel {
    text-align: right;
    height: 15px;
    padding: 0 25px 7px 25px;
    color: transparent;
}


#inputDiv, #outputDiv {
    text-align: center;
    height: auto;
    width: 50%;
    margin-top: 10px;
    background-color: #ffffff;
}

#inputDiv {
    margin-left: 10px;
    padding-bottom: 5px;
    border: 1px solid #238636;
    border-radius: 4px 0 0 4px;
}
#outputDiv {
    margin-right: 10px;
    border: 1px solid #333333;
    border-radius: 0 4px 4px 0;
}


#inputText, #outputText {
    /* margin: 0px 10px; */
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    width: 80%;
    border-radius: 5px;
    line-height: 150%;

}
h2 {
    font-size: clamp(10px, 5vw, 30px);
}
h3 {
    font-size: clamp(8px, 4vw, 24px);
}

textarea::placeholder {
    color: #03401677;
}

#outputText {
    /* user-select: none; */
    resize: none;
}

#cell-merge-tbl {
    margin: 0 auto;
}
#overviewTable {
    margin: 3vh auto;
}
/* #outputDiv {
    text-align: center;
} */

.button {
    margin: 10px auto 0 auto;
    padding: 8px 24px;
    color: #FFFFFF;
    background-color: #238636;
    opacity: 1;
    border-radius: 4px;
    box-shadow: 0;
    display: inline-block;
    user-select: none;
}

.button:hover {
    opacity: 0.7;
    transition: all 0.5s;
}

/* .explanation {
    padding-left: 10px;
} */

